{% extends "base.html" %}

{% block content %}

<h1 class="text-2xl font-bold mb-4">Auction House</h1>
<div class="mb-4">
    <a href="/auction/create" class="text-blue-500 mr-2">Create A New Auction</a>
    {% for category in categories %}
    <a href="{% url 'auctions_by_category' category.id %}" class="text-red-500 mr-2">|{{ category.name }}</a>
    {% endfor %}
    <a href="/" class="text-blue-500">Back to Home Page</a>
</div>

<div class="flex flex-wrap -mx-2">
    {% for auction in object_list %}
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-2 mb-4">
        <div class="border rounded-lg p-3 bg-white">
            <h3 class="text-xl text-gray-900">{{ auction.name }}</h3>
            <img src="{{ auction.image.url }}" alt="{{ auction.name }}" class="w-64 h-48 object-cover">
            <ul>
                <li>Highest bid: {{auction.highest_bid}}</li>
                <li>Reserve price: {{auction.reserve_price}}</li>
                <li>Status: {{auction.status}}</li>
            </ul>
            <a href="/auction/{{ auction.id }}" class="text-blue-500">View details</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Scroll to Top Button -->
<a href="#" id="scrollToTopButton" style="display: none; position: fixed; bottom: 20px; right: 30px; z-index: 99; border: none; outline: none; background-color: red; color: white; cursor: pointer; padding: 15px; border-radius: 10px;">
    Scroll to Top
</a>

<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {
        scrollFunction();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("scrollToTopButton").style.display = "block";
        } else {
            document.getElementById("scrollToTopButton").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    document.getElementById("scrollToTopButton").addEventListener('click', function(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
</script>

{% endblock content %}
